build
dist / media
node_modules
.DS_Store
.env
.env.*
.env.local
.env.development
.env.production
.env.test
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
